
<h1 class="cover-heading">{{title}}</h1>
<p class="lead mb-4">Listing the content of the file {{file}}</p>

<pre class="mt-4" >
{{fileContents}}
</pre>


<a class="btn btn-primary" href="/">Back</a>
